<h3>
  ABF StaTracker
</h3>

<div class='row'>

  <div class='col'>
    <app-add-stat-page (clicked)="addStatChange($event)" *ngIf="addStat"></app-add-stat-page>
    <div *ngIf="!addStat">
      <input class="form-control form-control-lg" id="roomCode" type="text" placeholder="Enter a room code">
      <button class="btn btn-sm btn-outline-primary" (click)="newRoom(true)">Create Room with entered room code</button>
      <button class="btn btn-sm btn-outline-primary" (click)="newRoom(false)">Create Room with random room code</button>
    </div>
  </div>

  <div class='col'>
    <button *ngIf="!enterRoom" class="btn btn-lg btn-outline-primary" (click)="showInputRoom()">Enter Existing Room</button>
    <div *ngIf="enterRoom">
      <input class="form-control form-control-lg" id="inputsm" type="text" placeholder="Room code...">
      <button type="button" class="btn btn-primary btn-lg" (click)="go()">Go</button>
    </div>
  </div>
</div>
<pre>{{validResult}}</pre>
<br>
